<style>
    h1,section {text-align: center;}
    table td, table th, label {padding: 15px;}
    th {border-bottom: 1px solid black;}
    label {font-weight: bold;font-size: 20px;width: 50%;}
    section {padding-left: 150px;padding-right: 150px;margin-bottom: 100px;}
    .odd {background-color: lightgrey;}
    table {margin: 0 auto;text-align: center;}
    .results-entry {margin-bottom: 40px;float: left;width: 33%;}
    .means td {border-bottom: 1px solid darkgray;font-weight: bold;}
    .clearfix {clear: both;}
</style>

<h1>Carver memory profiling results</h1>

<section>
  <h2>Controllers</h2>
  <h3>Memory</h3>

  <% i = 0 %>
  <% @controller_results[:memory].each do |key, values| %>
      <div class="results-entry">
        <label><%= key %></label>

        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>Allocated memory (MB)</th>
            <th>Retained memory (MB)</th>
          </tr>
          </thead>
          <tbody>
            <tr class="means">
              <td>Mean</td>
              <td><%= (values.map { |v| v[:total_allocated_memsize] }.reduce(:+) / values.count).round(5) %></td>
              <td><%= (values.map { |v| v[:total_retained_memsize] }.reduce(:+) / values.count).round(5) %></td>
            </tr>
          <% values.each_with_index do |value, index| %>
              <tr class="<%= index.even? ? 'even' : 'odd' %>">
                <td><%= "##{index+1}" %></td>
                <td><%= value[:total_allocated_memsize] %></td>
                <td><%= value[:total_retained_memsize] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    <% i += 1 %>
    <% if i % 3 == 0 %><div class="clearfix"></div><% end %>
  <% end %>

  <h3>Benchmark</h3>

  <% i = 0 %>
  <% @controller_results[:benchmark].each do |key, values| %>
    <div class="results-entry">
      <label><%= key %></label>

      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Real (s)</th>
          <th>Total (s)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="means">
          <td>Mean</td>
          <td><%= (values.map { |v| v[:real] }.reduce(:+) / values.count).round(5) %></td>
          <td><%= (values.map { |v| v[:total] }.reduce(:+) / values.count).round(5) %></td>
        </tr>
        <% values.each_with_index do |value, index| %>
          <tr class="<%= index.even? ? 'even' : 'odd' %>">
            <td><%= "##{index+1}" %></td>
            <td><%= value[:real] %></td>
            <td><%= value[:total] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% i += 1 %>
    <% if i % 3 == 0 %><div class="clearfix"></div><% end %>
  <% end %>
</section>

<div class="clearfix"></div>
<hr>

<section>
  <h2>Jobs</h2>
  <h3>Memory</h3>

  <% i = 0 %>
  <% @job_results[:memory].each do |key, values| %>
      <div class="results-entry">
        <label><%= key %></label>

        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>Allocated memory (MB)</th>
            <th>Retained memory (MB)</th>
          </tr>
          </thead>
          <tbody>
          <tr class="means">
            <td>Mean</td>
            <td><%= values.map { |v| v[:total_allocated_memsize] }.reduce(:+) / values.count %></td>
            <td><%= values.map { |v| v[:total_retained_memsize] }.reduce(:+) / values.count %></td>
          </tr>
          <% values.each_with_index do |value, index| %>
              <tr class="<%= index.even? ? 'even' : 'odd' %>">
                <td><%= "##{index+1}" %></td>
                <td><%= value[:total_allocated_memsize] %></td>
                <td><%= value[:total_retained_memsize] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    <% i += 1 %>
    <% if i % 3 == 0 %><div class="clearfix"></div><% end %>
  <% end %>

  <h3>Benchmark</h3>

  <% i = 0 %>
  <% @job_results[:benchmark].each do |key, values| %>
    <div class="results-entry">
      <label><%= key %></label>

      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Real (s)</th>
          <th>Total (s)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="means">
          <td>Mean</td>
          <td><%= values.map { |v| v[:real] }.reduce(:+) / values.count %></td>
          <td><%= values.map { |v| v[:total] }.reduce(:+) / values.count %></td>
        </tr>
        <% values.each_with_index do |value, index| %>
          <tr class="<%= index.even? ? 'even' : 'odd' %>">
            <td><%= "##{index+1}" %></td>
            <td><%= value[:real] %></td>
            <td><%= value[:total] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% i += 1 %>
    <% if i % 3 == 0 %><div class="clearfix"></div><% end %>
  <% end %>
</section>
